// Sector: Styles NavBar
@import "../../styles/mixins.styles.scss";

.navbar-body {
  width: 100%;
  height: 3rem;

  font-size: 1rem;
  background-color: transparent;

  .navbar-cont {
    @include container;
    @include flex-r-full-2;

    background-color: inherit;

    .logo-cont {
      @include grid-center;

      height: 100%;
      background-color: inherit;
    }

    .navbar-menu-cont {
      ul {
        @include flex-r-2;

        list-style: none;
        font-size: inherit;

        li {
          font-size: inherit;
        }
      }
    }
  }
}
