// Sector: Styles NavBar

// imports styles
@import "../../styles/mixins.styles.scss";
@import "../../styles/variables.styles.scss";

.navbar-body {
  width: 100%;

  font-size: 1.2rem;
  background-color: transparent;
  
  .navbar-cont {
    @include container;
    @include flex-r-full-2;
  
    background-color: $color-white;
    padding: 0 7.5px;

    .logo-cont {
      @include grid-center;

      height: 100%;
      padding: 2rem 0;
      background-color: inherit;
    }

    .navbar-menu-cont {
      ul {
        @include flex-r-2;

        list-style: none;
        font-size: inherit;

        li {
          font-size: inherit;
        }
      }
    }
  }
}
